# App Configs
APP_ENV=development
PORT=8080

# Database Configuration
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASS=postgres
DB_NAME=tradeverse
DB_SSLMODE=disable

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=

# Kafka Configuration (Redpanda)
KAFKA_BROKERS=localhost:9092

# JWT Authentication Configs
JWT_SECRET=supersecretjwtkeyforportfolio
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=168h
